# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*

jobs:

  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - goos: linux
          goarch: amd64
        - goos: darwin
          goarch: arm64
        - goos: darwin
          goarch: amd64
    steps:
      - name: Set timezone
        run: sudo timedatectl set-timezone "America/Denver"

      - name: Set BUILD_DATE
        run: |
          BUILD_DATE=$(date +%Y-%m-%d)
          echo "BUILD_DATE=$BUILD_DATE" >> "$GITHUB_ENV"

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
  
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: go build -v -ldflags "-X version.gitSha=$GIT_SHA -X version.buildDate=$BUILD_DATE" -o "bibcheck-${{ matrix.goos }}-${{ matrix.goarch }}" main.go

      - name: Upload Release Asset
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          file: bibcheck-${{ matrix.goos }}-${{ matrix.goarch }}
          asset_name: bibcheck-${{ matrix.goos }}-${{ matrix.goarch }}
          tag: ${{ github.ref }}
          overwrite: true